

// contact style heare



.single-contact-grid-area{
    border-radius: 30px;
    background: #fff;
    padding: 30px;
    .top-area{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .action-area{
            display: flex;
            align-items: center;     
            gap: 20px;
            position: relative;
            .single{
                cursor: pointer;
                i{
                    font-size: 23px;
                    color: #A3A3A3;
                    transition: .3s ;
                }
                &:hover{
                    i{
                        color: var(--primary-color);
                    }
                }
            }
            .geex-content__chat__header__filter__content{
                max-width: 140px;
                padding: 14px;
            }
        }
    }
    .details-area{
        margin-top: 25px;
        .name{
            font-size: 21px;
            margin-bottom: 13px;
        }
        .designation{
            color: #A3A3A3;
            font-size: 16px;
        }
        .contact-wrapper{
            margin-top: 20px;
            .single-contact{
                display: flex;
                align-items: center;
                margin-bottom: 13px;
                i{
                    flex-basis: 13%;
                    font-size: 24px;
                    color: var(--primary-color);
                }
                p{
                    font-size: 16px;
                    margin: 0;
                }
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }
}


.g-40{
    --bs-gutter-x: 40px;
    --bs-gutter-y: 40px;
}




.table-reviews-geex-1{
    width: 100%;
    background: #fff;
    thead, tbody, tfoot, tr, td, th{
        border-radius: 10px;
    }
    thead{
        border-radius: 10px !important;
        tr{
            border-radius: 10px;
            th{
                padding: 25px 20px;
                background: #fff;
                color: var(--primary-color);
                text-transform: uppercase;
                letter-spacing: 1px;
            }
        }
    }
    tbody{
        tr{
            border-top: 1px solid #f5f5f5;
            td{
                padding: 12px 20px;
                .author-area{
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    min-width: max-content;
                    .profile-picture{
                        max-width: 60px;
                        border-radius: 24px;
                        overflow: hidden;
                        display: block;
                        min-width: max-content;
                        img{
                            transition: .3s;
                            min-width: max-content;
                        }
                    }
                    p{
                        font-weight: 600;
                        text-transform: capitalize;
                    }
                }
                .designation{
                    color: #A3A3A3;
                }
                a{
                    color: var(--body-color);
                }
            }
            
            &:hover{
                .profile-picture{
                    img{
                        transform: scale(1.15);
                    }
                }
            }
        }
    }
}


.geex-content__todo__header.custom-al{
    .geex-content__todo__header__title{
        width: 240px;
        @media (max-width: 556px) {
            max-width: max-content;
            width: auto;
        }
    }
}




.geex-content__todo__content.tab-content.custom-al{
    @media (max-width:950px) {
        overflow-x: auto;
        max-width: 100%;
    }
}