
// file manager style here


.rts-category-area-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.geex-content__todo__sidebar.custom_al__file{
    padding: 0;
    .geex-content__todo__sidebar__text{
        padding: 30px;
    }
}


.geex-content__todo__sidebar__tab .nav-item .nav-link {
    @media (max-width:1492px) {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        text-align: left;
    }
    @media (max-width:575px) {
        align-items: center;
        text-align: center;
        padding: 10px;
    }
}

.geex-content__todo__sidebar__label.al__file{
    .nav-item{
        .nav-link{
            @media (max-width: 1592px) {
                flex-direction: column;
                align-items: flex-start;
                text-align: left;
            }
            @media (max-width: 567px) {
                align-items: center;
                text-align: center;
            }
        }
    }
}

.geex-content__todo__sidebar.custom_al__file .geex-content__todo__sidebar__text {
    @media (max-width:575px) {
        padding: 20px 10px;
    }
}

.geex-content__todo__sidebar.custom_al__file button.nav-link.active{
    position: relative;
    &::after{
        position: absolute;
        left: 0;
        content: '';
        height: 100%;
        width: 8px;
        background: var(--primary-color);
        border-radius: 10px;
    }
}

.geex-content__todo__header.custom_al__file{
    .geex-content__todo__header__title{
        display: flex;
        flex-direction: column;
        .title{
            display: flex;
            align-items: center;
            gap: 13px;
        }
        span{
            color: #A3A3A3;
        }
    }
}


.top_area_file__manager{
    display: flex;
    align-items: center;
    padding: 32px 46px;
    background: #FDFDFD;
    border-radius: 24px;
    justify-content: space-between;
    .left{
        display: flex;
        align-items: center;
        gap: 15px;
        .directory{
            display: flex;
            align-items: center;
            gap: 15px;
            font-size: 15px;
        }
    }
    .right{
        display: flex;
        align-items: center;
        gap: 70px;
        .search-area{
            cursor: pointer;
            &::after{
                position: absolute;
                content: '';
                right: 0;
                height: 60%;
                width: 1px;
                top: 20%;
                right: -35px;
                background: #D0D6DE;
            }
        }
        .icons{
            display: flex;
            align-items: center;
            gap: 15px;
        }
        i{
            color: #B9BBBD;
            font-size: 24px;
            cursor: pointer;
        }
    }
}

.geex-content__todo__sidebar.custom_al__file{
    button.nav-link.active{
        background: rgba(245, 244, 249, 1) !important;
    }
    .geex-content__todo__sidebar__label{
        &.al__file{
            .active{
                background: transparent !important;
                &::after{
                    display: none;
                }
            }
        }
    }
}


.table-reviews-geex-1.custom_filemanager{
    thead{
        tr{
            th{
                color: #A3A3A3;
                font-weight: 400;
                font-size: 16px;
                text-transform: capitalize;
            }
        }
    }
    tbody{
        tr{
            background: #FCFCFC;
            &.odd{
                background: transparent;
            }
            td{
                .author-area{
                    border-radius: 0;
                    .profile-picture{
                        border-radius: 0;
                    }
                }
            }
            &:hover{
                img{
                    transform: none;
                }
            }
        }
    }
}



html{
    &[dir="rtl"]{
        .single-feature-card-area-start #chart-5{
            left: 20px;
            right: auto;
        }
        .single-feature-card-area-start #chart-6{
            left: 20px;
            right: auto;
        }
        .single-feature-card-area-start #chart-7{
            left: 20px;
            right: auto;
        }
        .single-feature-card-area-start #chart-8{
            left: 20px;
            right: auto;
        }
        .geex-content__todo__header__filter__sortby i {
            top: 10px;
            right: 0;
        }
    }
}

.file-manager .geex-content__todo__sidebar{
    @media (max-width:575px) {
        display: block;
        position: relative;
    }
}

.geex-content__chat__header__filter__content{
    z-index: 10;
}



.file-manager{
    .geex-content__todo__sidebar {
        @media (max-width: 1500px) {
            width: 236px;
        }
    }
    @media (max-width: 1692px) {
        .table-reviews-geex-1 {
            width: 847px;
            background: #fff;
        }
    }
}


