  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    99% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    99% { transform: rotate(360deg); }
  }